* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #0f0f12;
    line-height: 1.6;
}

header {
    background-color: #1e0554;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

main {
    max-width: 700px;
    margin: 30px auto;
    padding: 0 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

form {
    display: flex;
    gap: 12px;
    align-items: center;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    background-color: #600808;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #c05050;
}

.note-card {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 12px;
    background-color: #fafafa;
}

.category-personal {
    border-left: 6px solid teal;
}

.category-work {
    border-left: 6px solid darkred;
}

.category-study {
    border-left: 6px solid blue;
}

#error-message {
    color: red;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    color: #666;
}

@media (max-width: 600px) {
    form {
        flex-direction: column;
        align-items: stretch;
    }

    input,
    select,
    button {
        width: 100%;
    }
}